/*
'Carrois Gothic SC', sans-serif
'PT Sans', sans-serif
*/

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

body {
  background-color: #333;
  padding: 0;
  margin: 0;
  border: 0;
}
h1 {
  font-family: 'PT Sans';
  color: #fff;
  font-size: 20px;
}
h2 {
  font-family: 'PT Sans';
  color: #FF551A;
  margin: 0;
}
h3 {
  color: #fff;
  font-family: "PT Sans";
}
p {
  color: #fff;
  font-family: 'PT Sans';
  font-size: 16px;
}
button {
  transform: translateY(0);
  transition: 0.1s;
  background-color: #ffffff;
}
button:active {
  transform: translateY(2px);
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}



.HeadBar {
  position: fixed;
  height: 200px;
  width: 100%;
  z-index: 5;
  transform: translateY(0px);
  transition: 1s;
}

.head {
  z-index: 2;
  background-color: #333333;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100%;
}
.headTitle {
  margin-right: auto;
}
.logo {
  height: 70px;
  margin-left: auto;
  margin-right: 10px;
}
.logo::selection {
  background: rgba(0,0,0,0);
}
.menuIcon {
  height: 30px;
  transition: 0.2s;
  margin-left: 20px;
  position: absolute;
}
.menuIcon::selection {
  background: rgba(0,0,0,0);
}
.menuIcon:active {
  transform: rotateZ(90deg);
}
.menuIcon:hover {
  cursor: pointer;
}
.menuBar {
  z-index: 1;
  transition: 0.5s;
  position: absolute;
  margin: 10px;
}
.menuBar::selection {
  background: rgba(0,0,0,0);
}
@media screen and (max-width: 500px) {
  .menuBar {
    visibility: hidden;
  }
}
.menuBar button {
  background-color: #333;
  border: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  margin-right: 5px;
}
.menuBar h2 {
  color: #fff;
}
.menuBar button:hover {
  background-color: #FF551A;
  box-shadow: #FF551A 0px 0px 15px;
}

.Banner {
  background-color: #111;
}

.Banner p {
  position: absolute;transform: translateY(calc(60vh - 40px));
  padding-left: 10px;
}

.Banner div {
  height: 60vh;
  width: 100%;
  overflow: hidden;
}

.About {
  position: static;
  z-index: 1;
  padding: 40px;
  background-size: cover;
  background-position: center;
  background-color: #222;
}
.About button {
  background-color: #7289DA;
  color: #fff;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 120px;
}
.About button:hover {
  filter: brightness(120%);
}
.followUs {
  background-color: #333;
}
iframe {
  width: 50vw;
  display: inline-block;
  height: 500px;
  padding: 10px;
}



.FanArt {
    background-image: url("https://i.imgur.com/2iYbYin.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
}
.FanArt h2 {
  text-align: center;
  font-size: 30px;
}
.FanArt p {
  text-align: center;
  margin: 0 0 20px 0;
}
.fa {
  margin-top: auto;
  margin-bottom: auto;
}
.faImg {
  width: 100%;
  display: flex;
}
.faImg img{
  width: 350px;
  margin: auto;
  box-shadow: #000 0 0 40px;
}
@media only screen and (max-width: 500px) {
  .faImg img {
    width: 200px;
  }
}
.fanArtImg {
  visibility: hidden;
}
.FanArtDesc p{
  margin: 10px;
  margin-bottom: 30px;
}
#faArrow {
  margin-top: auto;
  margin-bottom: auto;
}
#faArrow img {
  box-shadow: none;
  width: 25px;
  transition: 0.1s;
  border-radius: 100%;
}
#faArrow img::selection {
  background-color: rgba(0,0,0,0);
}
#faArrow img:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
#faArrow img:active {
  transform: translateY(3px);
}
.faArrowLeft {
  transform: translateX(calc(50vw - 250px));
}
.faArrowLeft img {
  padding: 10px 12px 10px 8px;
}
.faArrowRight {
  transform: translateX(calc(-50vw + 250px));
}
.faArrowRight img {
  padding: 10px 8px 10px 12px;
}
@media only screen and (max-width: 500px) {
  .faArrowLeft {
    transform: translateX(calc(50vw - 160px));
  }
  .faArrowRight {
    transform: translateX(calc(-50vw + 160px));
  }
}



.FAQ {
  padding: 40px;
  background-color: #222;
}



#Version {
  font-size: 10px;
  display: flex;
  align-self: flex-end;
  margin-left: 10px;
}
