body {
  background-color: #23272A;
  padding: 0;
  margin: 0;
  border: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2C2F33;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #23272A;
}

h1 {
  font-family: 'PT Sans';
  color: #fff;
  font-size: 20px;
}
h2 {
  font-family: 'PT Sans';
  color: #fff;
  margin: 0;
}
h3 {
  color: #fff;
  font-family: "PT Sans";
  font-size: 30px;
}
p {
  color: #fff;
  font-family: 'PT Sans';
  font-size: 16px;
}
button {
  transform: translateY(0);
  transition: 0.1s;
  background-color: #ffffff;
}
button::selection {
  background: rgba(0,0,0,0);
}
button:active {
  transform: translateY(2px);
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}
.head {
  z-index: 4;
  background-color: #7289DA;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100%;
}
.headTitle {
  margin-right: auto;
}
.logo {
  height: 70px;
}
.logoLink {
  margin-left: auto;
  margin-right: 10px;
  height: 70px;
}
.menuIcon {
  height: 30px;
  transition: 0.2s;
  margin-left: 20px;
  position: absolute;
}
.menuIcon:active {
  transform: rotateZ(90deg);
}
.menuIcon:hover {
  cursor: pointer;
}
.menuBar {
  transition: 0.5s;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 500px) {
  .menuBar {
    visibility: hidden;
  }
}
.menuBar button {
  background-color: #7289DA;
  border: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  margin-right: 5px;
  margin-top: 10px;
}
.menuBar h2::selection {
  background: rgba(0,0,0,0);
}
.menuBar div::selection {
  background: rgba(0,0,0,0);
}
.menuBar h2 {
  color: #fff;
}
.menuBar button:hover {
  background-color: #FF551A;
  box-shadow: #FF551A 0px 0px 15px;
}
.menuBarButtons {
  margin-left: 10px;
  position: absolute;
  z-index: 3;
}
.background {
  background-image: url("https://i.imgur.com/MXLVrhH.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  filter: blur(20px) brightness(100%) saturate(0%);
  position: relative;
  z-index: -1;
}
.content {
  position: absolute;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100vh;
  width: 100%;
  z-index: 0;
}
.box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  height: calc(100vh - 70px);
  margin-top: 70px;
}
.box1 h2 {
  color: #7289DA;
}
.box1 button{
  background-color: #7289DA;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 80px;
  color: #fff;
}
.box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(100vh - 70px);
  margin-top: 70px;
}
.discord {
  box-shadow: 0 0 100px 50px rgba(114,137,218, 0.4);
  margin-right: auto;
  margin-left: auto;
}
.SocialBoxes {
  height: 100vh;
  overflow: hidden;
}
.SOC {
  height: 100vh;
  position: relative;
}
.SocialsYT {
  height: 100vh;
  z-index: 3;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 50% 50%;
  width: 100%;
  background-color: #fff;
}
.socYTBox1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 40px;
}
.socYTBox1 p {
  color: #000;
}
.socYTBox1 h2 {
  color: #f00;
}
.socYTBox1 button {
  background-color: #f00;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 90px;
  color: #fff;
}
.socYTBox1Content {
  margin-left: auto;
  margin-right: auto;
}
.socYTBox2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.socYTBox2 iframe {
  width: 40vw;
  height: 22.5vw;
  max-height: 80vh;
  max-width: 142vh;
  margin-left: auto;
  margin-right: auto;
}
.SocialsTT {
  display: grid;
  height: 100vh;
  z-index: 4;
  grid-template-rows: 100vh;
  grid-template-columns: 50% 50%;
  width: 100%;
  transform: translate(101vw, -100vh);
  background-color: #fff;
}
.socTTBox1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 40px;
}
.socTTBox1 h2 {
  color: #EE1D52;
}
.socTTBox1 p {
  color: #000;
}
.socTTBox1 button {
  background-color: #EE1D52;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 90px;
  color: #fff;
}
.socTTBox1Content {
  margin-left: auto;
  margin-right: auto;
}
.socTTBox2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.socTTBox2 blockquote {
  margin-left: auto;
  margin-right: auto;
}
.SocialsTW {
  display: grid;
  height: 100vh;
  z-index: 6;
  grid-template-rows: 100vh;
  grid-template-columns: 50% 50%;
  width: 100%;
  transform: translate(101vw, -200vh);
  background-color: #fff;
}
.socTWBox1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 40px;
}
.socTWBox1 h2 {
  color: #1DA1F2;
}
.socTWBox1 p {
  color: #000;
}
.socTWBox1 button {
  background-color: #1DA1F2;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 90px;
  color: #fff;
}
.socTWBox1Content {
  margin-left: auto;
  margin-right: auto;
}
.socTWBox2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 40vw;
}
.socTWBox2 blockquote {
  margin-left: auto;
  margin-right: auto;
}
.scrollArrow {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(calc(100vh - 50px));
}
.scrollArrow img {
  width: 35px;
  transition: 0.5s;
}
.scrollArrow img::selection {
  background: rgba(0,0,0,0);
}
.scrollArrows::selection {
  background: rgba(0,0,0,0);
}
.scrollArrow img:hover {
  cursor: pointer;
}
#socialScrollArrowLeft {
  filter: opacity(30%);
}
#socialScrollArrowRight {
  filter: opacity(70%);
}
