body {
  background-color: #23272A;
  padding: 0;
  margin: 0;
  border: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  display: none;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2C2F33;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #23272A;
}
h1 {
  font-family: 'PT Sans';
  color: #fff;
  font-size: 20px;
}
h2 {
  font-family: 'PT Sans';
  color: #fff;
  margin: 0;
}
h3 {
  color: #fff;
  font-family: "PT Sans";
  font-size: 30px;
}
p {
  color: #fff;
  font-family: 'PT Sans';
  font-size: 16px;
}
button {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  background-color: #ffffff;
  margin-top: 10px;
}
button::-moz-selection {
  background: rgba(0,0,0,0);
}
button::selection {
  background: rgba(0,0,0,0);
}
button:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}
.HeadBar {
  position: fixed;
  height: 200px;
  width: 100%;
  z-index: 5;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.head {
  z-index: 6;
  background-color: #7289DA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
}
.headTitle {
  margin-right: auto;
}
.logo {
  height: 70px;
}
.logoLink {
  margin-left: auto;
  margin-right: 10px;
  height: 70px;
}
.menuIcon {
  height: 30px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-left: 20px;
  position: absolute;
}
.menuIcon:active {
  -webkit-transform: rotateZ(90deg);
      -ms-transform: rotate(90deg);
          transform: rotateZ(90deg);
}
.menuIcon:hover {
  cursor: pointer;
}
.menuBar {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 500px) {
  .menuBar {
    visibility: hidden;
  }
}
.menuBar button {
  background-color: #7289DA;
  border: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  margin-right: 5px;
  margin-top: 10px;
}
.menuBar h2::-moz-selection {
  background: rgba(0,0,0,0);
}
.menuBar h2::selection {
  background: rgba(0,0,0,0);
}
.menuBar div::-moz-selection {
  background: rgba(0,0,0,0);
}
.menuBar div::selection {
  background: rgba(0,0,0,0);
}
.menuBar h2 {
  color: #fff;
}
.menuBar button:hover {
  background-color: #FF551A;
  -webkit-box-shadow: #FF551A 0px 0px 15px;
          box-shadow: #FF551A 0px 0px 15px;
}
.menuBarButtons {
  margin-left: 10px;
  position: absolute;
  z-index: 3;
}
.background {
  background-image: url("https://i.imgur.com/MXLVrhH.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  -webkit-filter: blur(20px) brightness(100%) saturate(0%);
          filter: blur(20px) brightness(100%) saturate(0%);
  position: relative;
  z-index: -1;
}
.content {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  -ms-grid-rows: 100vh;
  grid-template-rows: 100vh;
  width: 100%;
  z-index: 0;
}
.content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  height: calc(100vh - 70px);
  margin-top: 70px;
}
.box1 h2 {
  color: #7289DA;
}
.box1 button{
  background-color: #7289DA;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 80px;
  color: #fff;
}
.box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 70px);
  margin-top: 70px;
}
.discord {
  -webkit-box-shadow: 0 0 100px 50px rgba(114,137,218, 0.4);
          box-shadow: 0 0 100px 50px rgba(114,137,218, 0.4);
  margin-right: auto;
  margin-left: auto;
}
.SocialBoxes {
  height: 100vh;
  overflow: hidden;
}
.SOC {
  height: 100vh;
  position: relative;
}
.SocialsYT {
  height: 100vh;
  z-index: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh;
  grid-template-rows: 100vh;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  width: 100%;
  background-color: #fff;
}
.SocialsYT > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.SocialsYT > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.socYTBox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px;
}
.socYTBox1 p {
  color: #000;
}
.socYTBox1 h2 {
  color: #f00;
}
.socYTBox1 button {
  background-color: #f00;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 90px;
  color: #fff;
}
.socYTBox1Content {
  margin-left: auto;
  margin-right: auto;
}
.socYTBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.socYTBox2 iframe {
  width: 40vw;
  height: 22.5vw;
  max-height: 80vh;
  max-width: 142vh;
  margin-left: auto;
  margin-right: auto;
}
.SocialsTT {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  z-index: 4;
  -ms-grid-rows: 100vh;
  grid-template-rows: 100vh;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  width: 100%;
  -webkit-transform: translate(101vw, -100vh);
      -ms-transform: translate(101vw, -100vh);
          transform: translate(101vw, -100vh);
  background-color: #fff;
}
.SocialsTT > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.SocialsTT > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.socTTBox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px;
}
.socTTBox1 h2 {
  color: #EE1D52;
}
.socTTBox1 p {
  color: #000;
}
.socTTBox1 button {
  background-color: #EE1D52;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 90px;
  color: #fff;
}
.socTTBox1Content {
  margin-left: auto;
  margin-right: auto;
}
.socTTBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socTTBox2 blockquote {
  margin-left: auto;
  margin-right: auto;
}
.SocialsTW {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  z-index: 4;
  -ms-grid-rows: 100vh;
  grid-template-rows: 100vh;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  width: 100%;
  -webkit-transform: translate(101vw, -200vh);
      -ms-transform: translate(101vw, -200vh);
          transform: translate(101vw, -200vh);
  background-color: #fff;
}
.SocialsTW > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.SocialsTW > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.socTWBox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px;
}
.socTWBox1 h2 {
  color: #1DA1F2;
}
.socTWBox1 p {
  color: #000;
}
.socTWBox1 button {
  background-color: #1DA1F2;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 90px;
  color: #fff;
}
.socTWBox1Content {
  margin-left: auto;
  margin-right: auto;
}
.socTWBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 40vw;
}
.socTWBox2 blockquote {
  margin-left: auto;
  margin-right: auto;
}
.scrollArrow {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(calc(100vh - 50px));
      -ms-transform: translateY(calc(100vh - 50px));
          transform: translateY(calc(100vh - 50px));
}
.scrollArrow img {
  width: 35px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.scrollArrow img::-moz-selection {
  background: rgba(0,0,0,0);
}
.scrollArrow img::selection {
  background: rgba(0,0,0,0);
}
.scrollArrows::-moz-selection {
  background: rgba(0,0,0,0);
}
.scrollArrows::selection {
  background: rgba(0,0,0,0);
}
.scrollArrow img:hover {
  cursor: pointer;
}
#socialScrollArrowLeft {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}
#socialScrollArrowRight {
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}
