html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-color: #142840;
    background-size: cover;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    text-size-adjust: 100px;
    
}

.display-menu {
    width: 520px;
    margin-top: 250px;
    float: right;
    margin-right: 140px;
    -webkit-animation: mover 4s infinite alternate;
    animation: mover 4s infinite alternate;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .3);
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    background-color: #142840;
}

.navbar {
    padding: 25px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 80px;
    font-size: xx-small;
}

.navbar a {
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s;
    font-size: large;
}

.navbar a.navtitle {
    float: left;
    font-size: 20px !important;
    font-size: xx-large;
}

.navbar a:hover {
    /*font-size: 18px;*/
    color: #aaa;
}

.display {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin-top: -80px;
}

.display:after {
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url(wave-bottom.svg);
    height: 275px;
    text-align: center;
}

.display-text {
    padding: 300px 250px;
}

.display-text-large {
    font-size: xx-large;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    clear: 5133px;
}


.display-text-small {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
}

.display-button {
    width: auto;
    display: table;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 25px;
    transition: .2s;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    font-size: large;
}

.display-button:hover {
    background-color: rgba(255, 255, 255, 0.493);
    border: rgba(255, 255, 255, 0.493);
    color: #1d3652;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .25);
    font-size: large;
}

.flex-row{
    display: flex;
  }
  .justify-between{
    justify-content: space-between;
  }
  .is-reversed{
    flex-direction: row-reverse
  }
center {
    text-decoration-color: #fff;
}
p {
    text-align: center;
    font-size: large;
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-4 {
    width: 100%;
    height: auto;
    background-color: #142840;
    /* background-color: red; */
}

.header-txt {
    width: 100%;
    height: 50px;
    margin-top: 200px;
    /* background-color: #333; */

    display: flex;
}

.dummy {
    width: 55%;
}

h2{
    style: center;
    color: rgb(194, 193, 192);
    /* background-color: teal; */
}


.pic {
    width: 448px;
    height: 187px;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .3);
    border-radius: 3px;
    border-style: solid;
    border-color: #fff;
}
BP
.box-1 {
    display: flex;
    justify-content: space-around;
}

.img-box {
    width: 50%;
    height: 202px;
    /* background-color: pink; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    width: 50%;
    display: flex;
    justify-content: center;
}

.txt {
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    overflow-x: hidden;

    /* background-color: violet; */
}

.box-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.img-box-2 {
    width: 50%;
    height: 202px;
    /* background-color: purple; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-3 {
    display: flex;
    justify-content: space-around;
}

.img-box-3 {
    width: 50%;
    height: 202px;
    /* background-color: yellow; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.marsc{
    margin-left: 140px;
    margin-top: 120px;
    margin-right: 140px;
    -webkit-animation: mover 4s infinite alternate;
    animation: mover 4s infinite alternate;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .3);
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    background-color: #142840;
    float: left;
    width: 33.33%;  
    clear: both;
    display: table;
}
.marssc{
    margin-right: 140px;
    -webkit-animation: mover 4s infinite alternate;
    animation: mover 4s infinite alternate;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .3);
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    background-color: #142840;
    float: right;
    width: 33.33%;  
    clear: both;
    display: table;
}
.marsssc{
    margin-left: 140px;
    margin-top: 20px;
    -webkit-animation: mover 4s infinite alternate;
    animation: mover 4s infinite alternate;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .3);
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    background-color: #142840;
    float: left;
    width: 33.33%;  
    clear: both;
    display: table;
    margin-bottom: 50px;
}
.section2{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}
.socials1{
    color: rgb(194, 193, 192);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 25px;
    transition: .2s;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    font-size: x-large;
}
.socials2{
    color: rgb(194, 193, 192);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 25px;
    transition: .2s;
    font-size: 18px;
    font-weight: 600; 
    text-decoration: none;
    font-size: x-large;
}
.socials3{
    color: rgb(194, 193, 192);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 25px;
    transition: .2s;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    font-size: x-large;
}
.socials4{
    color: rgb(194, 193, 192);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 25px;
    transition: .2s;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    font-size: x-large;
}
.socials1:hover {
    background-color: rgba(255, 255, 255, 0.493);
    border: rgba(255, 255, 255, 0.493);
    color: #1d3652;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .25);
}
.socials2:hover {
    background-color: rgba(255, 255, 255, 0.493);
    border: rgba(255, 255, 255, 0.493);
    color: #1d3652;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .25);
}
.socials3:hover {
    background-color: rgba(255, 255, 255, 0.493);
    border: rgba(255, 255, 255, 0.493);
    color: #1d3652;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .25);
}
.socials4:hover {
    background-color: rgba(255, 255, 255, 0.493);
    border: rgba(255, 255, 255, 0.493);
    color: #1d3652;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .25);
}

h3{
    margin-top: 1000px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
}
.section3{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-align: center;
    font-size: xx-large;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  .go-top {
    position: fixed;
    bottom: 0.75em;
    right: 0.5em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 17px;
    padding: 10px;
    display: none;
    margin: 0;
    border-radius: 10px;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .25);
}
p{
    font-size: x-large;
}
/*
Cz X1 TopBar
*/
.head {
    z-index: 2;
    background-color: #142840;
    display: grid;
    grid-template-columns: 10vw 35vw 55vw;
    align-items: center;
    position: absolute;
  }
  .headTitle {
    margin-left: 10px;
    color: rgb(255, 255, 255);
  }
  .logo {
    height: 70px;
    margin-left: auto;
  }
  .menuIcon {
    height: 30px;
    margin-left: 20px;
    transition: 0.2s;
  }
  .menuIcon:active {
    transform: rotateZ(90deg);
  }
  
  .menuBar {
    z-index: 1;
    background-color: #142840;
    padding: 10px;
    transition: 0.5s;
    position: absolute;
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    .menuBar {
      visibility: hidden;
    }
  }
  
  .button{
    margin: auto;
  }
  .menuBar button {
    background-color: #222;
    border: none;
    border-radius: 20px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    margin-right: 5px;
  }
  
  .sec01 {
    display: flex;
  }
  .sec01 img{
    width: 100%;
    filter: brightness(60%);
  }
  .sec01 div {
    position: absolute;
    align-self: flex-end;
    margin-left: 20px;
    z-index: 1;
  }
  .sec01 p{
    font-family: 'Carrois Gothic SC';
  }
.float-button{
        width: auto;
        display: table;
        border: 1px solid #fff;
        padding: 10px 20px;
        border-radius: 20px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        margin-top: 25px;
        transition: .2s;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        font-size: large;
        float: left;
}